<tr>
  <td class="rank"><%= member.rank %></td>
  <td class="class"><span class="class<%= member.class_id %>" data-darktip="character:<%= member.region %>.<%= blizzardize member.realm %>.<%= member.name.downcase %>(en)"><%= link_to member.name, "http://#{member.region}.battle.net/wow/en/character/#{blizzardize member.realm}/#{member.name.downcase}/" %></span></td>
  <td class="realm"><%= link_to "#{member.region.upcase}-#{member.realm}", characters_path(member.region, member.realm) %></td>
  <td class="guild"><%= link_to guild.name, guild_path(guild.region, guild.realm, guild.name) %></td>
  <td class="faction"><span class="side<%= member.faction_id %>"><%= member.faction_id == 1 ? 'Horde' : 'Alliance' %></span></td>
  <td class="points"><%= member.achievement_points %></td>
  <td class="updated"><%= time_ago_in_words member.fetched_at %> </td>
</tr>
