<div class="row">
  <div class="span10 columns">
    <div class="page header"><h1>Public Launch <small>September 17th, 2011</small></h1></div>
    <p>
      While waiting for an API key from blizzard my ability to refresh known characters and
      guilds is very limited. The site currently focuses on finding new ones over updating ones 
      already known. The top 10,000 should get refreshed at least once a week. 
    </p>
    <p>Some additional features which should be very soon include</p>
    <ul>
      <li>All WoW Regions</li>
      <li>Mounts</li>
      <li>Companion Pets</li>
      <li>Search</li>
      <li>Individual character page instead of linking to Armory</li>
    </ul>
    <p>Any feedback or issues can bent sent to <%= mail_to "achiev@bbck.net" %></p>
  </div>
  <div class="span6 columns">
    <h2>Top 10</h2>
    <ul class="tabs">
      <li class="active"><a href="#characters">Characters</a></li>
      <li><a href="#guilds">Guilds</a></li>
    </ul>
    <div class="tab-content" id="tabs-top10">
      <div class="active" id="characters">
        <table class="zebra-striped top10">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Realm</th>
            <th>Points</th>
          </tr>
          <%= render :partial => "character", :collection => @characters %>
        </table>
        <h3><%= link_to " See More...", characters_all_path %></h2>
      </div>
      <div id="guilds">
        <table class="zebra-striped top10">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Realm</th>
            <th>Points</th>
          </tr>
          <%= render :partial => "guild", :collection => @guilds %>
        </table>
        <h3><%= link_to " See More...", guilds_all_path %></h2>
      </div>
    </div>
    <div id="addchar">
      <div id="addchar-alert" class="alert-message success hide fade in" data-alert="alert">
        <a class="close" href="#">×</a>
        <p>Character successfuly queued.</p>
      </div>
      <div id="addchar-fail" class="alert-message error hide fade in" data-alert="alert">
        <a class="close" href="#">×</a>
        <p>Problem trying to queue character.</p>
      </div>
      
      <h2>Add Character</h2>
      <%= form_tag "/characters", :remote => true, :method => :post, :class => "form-stacked" do %>
      <fieldset>
      <%= label_tag "region", "Region" %>
      <%= select_tag "region", "<option>us</option><option>eu</option><option>kr</option><option>tw</option><option>cn</option>".html_safe, :class => "span2" %>
      <%= label_tag "realm", "Realm" %>
      <%= text_field_tag "realm", nil, :class => "span4" %>
      <%= label_tag "name", "Name" %>
      <%= text_field_tag "name", nil, :class => "span4" %>
      </fieldset>
      <%= submit_tag "Submit", :class => "btn primary" %>
      <% end %>
    </div>
  </div>
</div>
