<h1><%= @character.name %></h1>
<span>World rank: <strong><%= raise @worldrank.inspect %></strong></span><br>
<span>Region rank: <strong><%= @character.rank %></strong></span><br>
<span>Realm rank: <strong><%= @character.rank %></strong></span><br>
<span>Guild rank: <strong><%= @character.rank %></strong></span><br>
