<!DOCTYPE html>
<html>
<head>
  <title>WoW Achievement Rankings</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.1.min.css">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container fixed">
        <h3><%= link_to "WoW Achievement Rankings", root_url %></h3>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <%= yield %>
      <footer>
        <p>&copy; 2011</p>
      </footer>
    </div>
  </div>
</body>
</html>
